@import "iconos.styl"

h2
	text-align center
	color white
header
	background #232323
	border-bottom solid 4px #707070				
	min-height 5.8em
	width 100%		
	position fixed
	z-index 1
	
	img
		width 100%
	
	h1
		font-size 18px
		font-weight normal	
		text-align center
		
	.logo
		display inline-block
		margin 0
		padding 0
		vertical-align top 
	.titulo_nav
		display inline-block
		margin 0
		padding 0
		vertical-align top

	.logo
		height 3.5em
		padding 0.4em
		width  5em

	.titulo_nav
		width 69%
	nav
		float center
	nav a
		font-size 1.7em
		color white
		text-align center
		text-decoration none		
		padding 0.1em
		margin-left 0.6em
		transition all 1s ease
		.cat
			color red
	nav a:hover
		font-size 2em
		
.cuerpo
	margin-top 6em	
	overflow hidden

.logo_index img
	width 100%
.logo
	width 30%
	height 25%
	display inline-block
	padding 0.5em
	margin-left 35%


.index
	
	color white	
	font-size 16px
	 	
	h2
		text-align center
	 	color white	

.logo_index 	
	.logo
		display inline-block
		margin-left 50%
		width 100%

.login
	background rgb(222, 224, 228)
	border solid 2px
	color rgb(21, 15, 17)
	display inline-block
	height 50%
	margin-left 13%
	padding 0.5em
	width 70%
	border-radius 10px

#recordarContrasenna, #registrar	
	padding 0
	margin 0	
	text-align center

#recordarContrasenna a, #registrar a
	text-decoration none
	color white
	font-style normal
	font-family "Arial"
	font-size 0.8em

	