@font-face 
	font-family 'bdpuntos'
	src url('fonts/bdpuntos.eot')
	src url('fonts/bdpuntos.eot?#iefix') format('embedded-opentype'),	url('fonts/bdpuntos.woff') format('woff'),	url('fonts/bdpuntos.ttf') format('truetype'),	url('fonts/bdpuntos.svg#bdpuntos') format('svg');  
	font-weight normal
	font-style normal


[data-icono]:before
	font-family: 'bdpuntos'
	content: attr(data-icono)
	speak: none
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1 
	-webkit-font-smoothing: antialiased

.icono-film, .icono-play, .icono-pause, .icono-play-2, .icono-cart, .icono-bolt, .icono-wand, .icono-contract, .icono-barcode, .icono-expand
	font-family: 'bdpuntos'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased

.icono-film:before
	content: "\e000"
 
.icono-play:before
	content: "\e001"

.icono-pause:before
	content: "\e002"

.icono-play-2:before
	content: "\e003"

.icono-cart:before
	content: "\e004"

.icono-bolt:before
	content: "\e005"

.icono-wand:before
	content: "\e006"

.icono-contract:before
	content: "\e007"

.icono-barcode:before
	content: "\e008"

.icono-expand:before
	content: "\e009"

